<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>html test ~~~</p>
    <p> title: <%= rows[0].title %> </p>
    <p> content: <%= rows[0].content %> </p>
    <p> createDate: <%= rows[0].createDate %> </p>
  </body>
</html>
<script>

</script>